*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/back1.jpg);
    background-color: rgb(17, 4, 61);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    display: block;
    height: 100%;
    width: 100%;
}

#canvas1{
    position: absolute;
    width: 100%;
    height: 100%;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}


#pannel{
    display: none;
    position: absolute;
    z-index: 99;
    color: rgb(0, 247, 255);
    padding: 15px 20px;
    right: 0%;
    top: 0%;
    
}
#levaldd{
    margin-left: 25px;
}

h1{
    font-size: 30px;
    padding-left: 10px;
}

.leval{
    padding: 10px 20px;
    border-radius: 60px;
    width: 220px;
    background-color: rgba(7, 7, 7, 0.384);
}

#gameover{
    position: absolute;
    z-index: 33;
    background-color: rgba(31, 168, 3, 0.753);
    display: none;
    width: 60%;
    height: 40%;
    font-size: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50PX;
   
}
.gameOver h1{
    position: absolute;
    font-size: 100px;
    color: aliceblue;
    top: 30%;
    left: 20%;
}
#startGame{
    position: absolute;
    z-index: 33;
    background-color: rgba(31, 155, 6, 0.795);
    display: block;
    width: 60%;
    height: 40%;
    font-size: 50px;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 50PX;
}
#startGame h1{
    position: absolute;
    font-size: 100px;
    color: aliceblue;
    top: 15%;
    left: 20%;
}
#startGame h3{
    position: absolute;
    font-size: 100px;
    color: aliceblue;
    top: 35%;
    left: 35%;
    margin: 20px;
}

#btn{
    position: absolute;
    top: 65%;
    left: 50%; 
    margin-top: 60px;
    transform: translate(-50%,-50%);
    width: 30%;
    height: 20%;
    background-color: rgba(221, 0, 250, 0.76);
    border-radius: 20px;
    font-size: 30px;
    color: aliceblue;
}
#btn:hover{
    background-color: blueviolet;
}